body {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  }

/* 目次ページ関係 */
.downmrgn{                          /* 目次の年号ボタンの下にマージン*/
  margin-bottom: 0.5rem;
  cursor: pointer;
}
button.downmrgn:hover{
  font-weight: bold;
	background-color: #96ecec;
}
.upmrgn{                          /* 目次年号位置調整*/
  margin-top: 1.5rem;
  margin-bottom: -0.1rem;
}

/* 問題・解答ページ関係 */

/* ▼タブ表示関係 */
.tab{
  width: 100%;
  margin: 0 auto;
}  
.tab-list{
display: flex;
justify-content: flex-end; 
}
.tab-list-item{
width: 75px;
height: 50px;
background-color: rgb(225, 159, 241);
font-weight: bold;
text-align: center;
padding: 8px 0;
cursor: pointer;
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-radius: 0 0 0.3rem 0.3rem;
margin-top: -1px;
position: relative;
z-index: 10;
}
.tab-list-item:hover {
	background: #96ecec;
}
.tab-contents{
background-color: #ffffcc;
display: none;
padding: 20px;
border: 1px solid black;
position: relative;
z-index: 0;
}
.is-btn-active{
background-color: #ffffcc;
font-weight: bold;
border-top: 1px solid #ffffcc ;
cursor: default;
}
.is-btn-active:hover{
background-color: #ffffcc;  
}
.is-contents-active{
display: block;
}
/* ▲タブ表示関係ここまで */

/* ▼次問・前問・目次ボタン */
.inner {
  display: flex;
  padding-top: 30px;              
  position: fixed;
  bottom: 0;
  /* z-index: 20; */
}
.inner button {
  width: 75px;
  height: 50px;
  font-weight: bold;
  background-color: rgb(225, 159, 241);
  border-radius: 0.3rem;
  cursor: pointer;
}
.inner button:hover {
	background: #96ecec;
}

/* ▼一般装飾 */

table {
  width: 100%;
  border-collapse:  collapse;     /* セルの線を重ねる */
}
th,td {
  border: solid 1px;              /* 枠線指定 */
  padding: 5px;                   /* セル内余白 */
}
.bold{
  font-weight: bold;           /* 太字 */
}
.textCenter{
  text-align: center;
}
.space{
  padding-left: 1rem;         /* 1文字空白 */
}
caption{
  font-weight: bold;
}
.underln {
  text-decoration: underline red;
  text-underline-offset:0.2em;
}
.underlnblue {
  text-decoration: underline rgb(4, 0, 255);
  text-underline-offset:0.2em;
}
.whiteFrame{           /*文中の文字を囲む（白抜き問題等）*/
  line-height: 225%;
  padding:0px 5px; /* 枠と文字の空間 */
  margin:0 5px; /* 枠の外の空間 */
  background-color:transparent;/*rgb(255,255,255); /* 枠の背景色 */
  border:2px solid rgb(0,0,0); /* 枠の線の太さ・種類・色 */
  border-radius:0px; /* 枠の角を丸くする */
  box-shadow: 0px 0px 0px #ddd; /*影をいれる*/
  font-family:inherit; /* フォントの種類を継承する */
  font-size:1em;	/* フォントの大きさ */
}
.fontTransparent{       /* 文字透明 */
  opacity: 0;
}
.connectLine{
  text-decoration-line: line-through;
}

/* 変数定義文中の変数svgサイズ */
.varSize17{
  padding: 0px 3px;
  width: auto;
  vertical-align: middle;
  height: 17px;
}
.varSize20{
  padding: 0px 3px;
  width: auto;
  vertical-align: middle;
  height: 20px;
}

/* 画像キャプション */
.imgcap {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem; 
}
/* 画像コピーライト */
.imgcr {
  text-align: center;
  font-size: 0.5rem;
}


/* ▼レスポンシブル対応 */
@media (width<1024px){
  table{
    width: 75%;
    margin: auto;
  }
  img {
    background-color: transparent;
    margin: auto;
    width: 60%;
    }  
}

@media (width<768px){
  body{
    text-size-adjust: none;
  }
  table{
    width: 95%;
    margin: auto;
  }
  img {
    background-color: transparent;
    margin: auto;
    width: 95%;
    }  
}












