body {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

/* 目次ページ関係 */
.downmrgn{                          /* 目次の年号ボタンの下にマージン*/
  margin-bottom: 0.5rem;
}
.upmrgn{                          /* 目次年号位置調整*/
  margin-top: 1.5rem;
  margin-bottom: -0.1rem;
}

/* 問題・解答ページ関係 */

/* ▼タブ表示関係 */
.tab{
  width: 100%;
  margin: 0 auto;
}  
.tab-list{
display: flex;
justify-content: flex-end; 
}
.tab-list-item{
width: 75px;
height: 50px;
background-color: rgb(225, 159, 241);
text-align: center;
padding: 8px 0;
cursor: pointer;
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-radius: 0 0 0.3rem 0.3rem;
margin-top: -1px;
position: relative;
z-index: 10;
}
.tab-list-item:hover {
	background: #96ecec;
}
.tab-contents{
background-color: #ffffcc;
display: none;
padding: 20px;
border: 1px solid black;
position: relative;
z-index: 0;
}
.is-btn-active{
background-color: #ffffcc;
font-weight: bold;
border-top: 1px solid #ffffcc ;
}
.is-btn-active:hover{
background-color: #ffffcc;  
}
.is-contents-active{
display: block;
}
/* ▲タブ表示関係ここまで */

/* ▼次問・前問・目次ボタン */
.inner {
  display: flex;
  padding-top: 30px;              
  position: fixed;
  bottom: 0;
  /* z-index: 20; */
}
.inner button {
  width: 75px;
  height: 50px;
  background-color: rgb(225, 159, 241);
  border-radius: 0.3rem;
}
.inner button:hover {
	background: #96ecec;
}

/* ▼一般装飾 */

table {
  width: 100%;
  border-collapse:  collapse;     /* セルの線を重ねる */
}
th,td {
  border: solid 1px;              /* 枠線指定 */
  padding: 5px;                   /* セル内余白 */
}
.bold{
  font-weight: bold;           /* 太字 */
}
.space{
  padding-left: 1rem;         /* 1文字空白 */
}
caption{
  font-weight: bold;
}


/* ▼レスポンシブル対応 */
@media (width>768px){
  table{
    width: 80%;
    margin: auto;
  } 
}
@media (width>1024px){
  table{
    width: 60%;
    margin: auto;
  } 
}